---
layout: compress
meta_description: Vijayant Katyal
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">
    {% else %}<meta name="robots" content="all">{% endif %}
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | xml_escape }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% endif %}
    {% if site.bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
    {% endif %}
    <meta name="twitter:card" content="summary" />
    {% if site.twitter_username %}
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    {% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    
    <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="/icon.png">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/post.css">
    <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Vijayant Katyal's Blog">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
    <br><br>
    <div class="container">
        <div class="row-fluid">
			<div class="col-sm-5">
				<br>
				<img src="/assets/images/me.jpg" class="img-fluid img-circle" alt="">
				<br>
				<h4 class="text-xs-center">Vijayant Katyal</h4>
				<div class="index_contact">
					{% if site.email %}
					<a href="mailto:{{ site.email }}?subject=Hi, Vijayant Katyal&body=visitor from {{ site.url }}{{ page.url }}">
						<i class="fa fa-envelope"></i>
					</a>
					{% endif %}
					{% if site.twitter_username %}
					<a href="https://twitter.com/{{ site.twitter_username }}" target="_new">
						<i class="fa fa-twitter"></i>
					</a>
					{% endif %}
					{% if site.github_username %}
					<a href="https://github.com/{{ site.github_username }}" target="_new">
						<i class="fa fa-github"></i>
					</a>
					{% endif %}
					{% if site.stackoverflow_id %}
					<a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" target="_new">
						<i class="fa fa-stack-overflow"></i>
					</a>
					{% endif %}
					<a href="/blog/atom.xml" target="_new">
						<i class="fa fa-feed"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-7">
				<p class="lead text-xs-right">
					I am a <a class="index_link" href="http://stackoverflow.com/cv/vijayantkatyal" target="_new">full stack web developer</a> helping make the world a better place through my work.
					<br><br>
					I am an open-source <a class="index_link" href="https://github.com/{{ site.github_username }}">contributor</a> and I like making things that help people with their work.
					I am the author of <a class="index_link" href="/blog">SVG Or</a>.
					<br><br>
					Also I frequently <a class="index_link" href="/blog">Blog</a> about web development.
					<br><br>
					recent posts:
					<br>
					{% for post in site.posts limit:2 %}
						<a class="index_link" href="{{ post.id }}">{{ post.title }}</a><br>
					{% endfor %}
				</p>
			</div>
		</div>

    </div>
	<script type="text/javascript" src="/assets/js/ga.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>