<footer class="footer">
	<div class="container" itemscope itemtype="http://schema.org/Person">
		All content copyright
		<a href="/" itemprop="name">
			<u>Vijayant Katyal</u>
		</a> &copy; 2018 • All rights reserved.<br> Proudly published with GitHub Pages
		<br><br>
		<span class="follow">
			{% if site.email %}
            <a href="mailto:{{ site.email }}?subject=Hi, Vijayant Katyal&body=visitor from {{ site.url }}{{ page.url }}">
              <i class="fa fa-envelope"></i>
            </a>
			{% endif %}
			{% if site.linkedin_username %}
				<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			{% endif %}
			{% if site.twitter_username %}
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			{% endif %}
			{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}" target="_blank">
				<i class="fab fa-github"></i>
			</a>
			{% endif %}
			{% if site.stackoverflow_id %}
			<a href="http://stackoverflow.com/story/vijayantkatyal" target="_blank">
				<i class="fab fa-stack-overflow"></i>
			</a>
			{% endif %}
			<a href="/blog/atom.xml" target="_blank">
				<i class="fas fa-rss-square"></i>
			</a>
		</span>
	</div>
</footer>
<script type="text/javascript" src="/assets/js/ga.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/tether.min.js"></script>
<script type="text/javascript" src="/assets/js/boostrap.min.js"></script>
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
