
<div class="container-fluid" id="footer">
	<nav class="navbar navbar-expand navbar-light">
		<ul class="navbar-nav me-auto ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="/" highlight="none">
					&copy; Vijayant Katyal 2025
				</a>
			</li>
		</ul>
	</nav>
</div>

<!-- <nav class="navbar navbar-expand fixed-bottom navbar-light">
	<a class="navbar-brand app_icon" id="app_mode" href="#" highlight="none">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30px" width="30px" fill="#0000008c" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve">
			<path d="M25.5,48c-13.233,0-24-10.768-24-24c0-13.233,10.767-24,24-24h1c0.361,0,0.693,0.195,0.873,0.511  c0.177,0.315,0.169,0.702-0.021,1.011c-2.172,3.547-4.677,13.663-0.938,22.072C29.34,30.177,37.193,34.868,45.518,35  c0.358,0.006,0.688,0.204,0.859,0.518c0.173,0.314,0.164,0.698-0.023,1.004C42.02,43.602,34.027,48,25.5,48z"/>
		</svg>
	</a>
</nav> -->


<script type="text/javascript" src="/assets/js/ga.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/js/medium-zoom.min.js"></script>
<script type="text/javascript" src="/assets/js/blog.js"></script>