<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">
    {% else %}<meta name="robots" content="all">{% endif %}
    <meta name="author" content="{{ site.author }}">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Vijayant Katyal">
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | xml_escape }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% endif %}
    {% if site.bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
    {% endif %}
    <meta name="twitter:card" content="summary" />
    {% if site.twitter_username %}
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    {% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    
    <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="/icon.png">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Vijayant Katyal's Blog">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>