body {
	padding-top: 20px;
}

a {
	color:#55595c;
	transition: color 300ms ease-in-out;
}
a:hover {
	color: #2196F3;
	text-decoration: none;
}

.navbar {
	margin-bottom: 20px;
}

.footer {
	position: relative;
	margin: 8rem 0 0 0;
	padding: 4rem 0;
	border-top: .05rem solid #e5e5e5;
	line-height: 1.7em;
	text-align: center;
	background: #f7fafb;
	color: #bbc7cc;
	padding-top: 1.5rem;
}

.footer a {
	color: #9E9E9E;
}

.footer a:hover {
	color: #000;
	text-decoration: none;
}

.footer .follow a {
	margin-right: 10px;
	font-size: 18px;
}

.index_link {
	border-bottom: 1px dashed #8c8c8c;
}

.index_contact {
	text-align: center;
	margin-top: 10px;
}

.index_contact i {
	font-size: 20px;
	padding: 5px;
}