---
layout: blog
title: Vijayant Katyal Blog Categories
---

<style>
  .badge{
    padding: 0.7em .6em;
    font-size: 100%;
    margin-top: 10px;
  }
</style>

<h1>Categories</h1>

{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
		<a itemprop="keywords" href="/blog/category/{{ category }}" class="badge badge-secondary">{{ category }}</a>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
		<a itemprop="keywords" href="/blog/category/{{ category[0] }}" class="badge badge-secondary">{{ category[0] }}</a>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}

<hr>

{% for tag in site.categories %}
  <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
  <ul>
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}