---
layout: blog
---
{% assign posts_count = (paginator.posts | size) %}

{% if posts_count > 0 %}

<div class="posts">

	{% for post in paginator.posts %}

		<article class="post">
			<header class="post-header">
				<span class="post-meta">
					<time datetime="{{ post.date | date: site.date_format }}">{{ post.date | date: site.date_format }}</time> {% if post.comments != false %} | <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-discuss-identifier="{{ post.id }}">0 Comments</a> {% endif %}
					<div class="post-tags">
						{% for category in post.categories %}
							<span class="tag tag-default">{{ category }}</span>
						{% endfor %}						
					</div>
				<h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			</header>
			<section class="post-excerpt">
				<p class="text-muted">
					{% if post.summary %}
						{{ post.summary }}
					{% endif %}
				</p>
			</section>
		</article>
	
	{% endfor %}
	
	<br><br><br>

	{% include pagination.html %}

</div>
{% else %}
	<h1 class='text-xs-center'>{{ site.text.index.coming_soon }}</h3>
{% endif %}