---
layout: index
title: Blog
summary: Vijayant Katyal thoughts on life and development
show_blog_link: true
---

<div class="container-fluid" id="blog_page">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-10 ms-auto me-auto">
			{% assign posts_count = paginator.posts | size %}

			{% if posts_count > 0 %}

			<div id="posts_list" itemscope='' itemtype='http://schema.org/Blog'>

				{% for post in paginator.posts %}

					<article itemscope itemtype="http://schema.org/BlogPosting">
						<header>
							<div class="row">
								<div class="col-12">
									<time itemprop="datePublished" datetime="{{ post.date | date: site.date_format }}">{{ post.date | date: site.date_format }}</time>
								</div>
								<!-- <div class="col-6 text-end">
									{% for category in post.categories %}
										<a itemprop="keywords" href="/blog/category/{{ category }}" class="badge bg-secondary">{{ category }}</a>
									{% endfor %}						
								</div> -->
							</div>
							<h2 itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
						</header>
						
					</article>
				
				{% endfor %}

			</div>
			<br><br><br>
			{% include pagination.html %}
			{% else %}
				<h1 class='text-center'>{{ site.text.index.coming_soon }}</h3>
			{% endif %}
		</div>
	</div>
</div>
