---
layout: index
---

<div class="container-fluid" id="blog_page">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-10 ms-auto me-auto">
			
			<div class="card border-info bg-dark mb-5">
				<div class="card-body text-info">
					<div class="row">
						<div class="col-8">
							<h1 class="card-title">{{ page.title }}</h1>
							<p class="card-text">All Posts tagged "{{ page.title }}"</p>
						</div>
						<div class="col-4" style="display: flex; align-items: center; justify-content: end;">
							<p class="card-text">
								<a href="/blog/categories" data-bs-theme="dark" class="btn btn-secondary">Show All Categories</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			{% unless page.content == '' %}
				<p>{{ page.content }}</p>
			{% endunless %}

			{% assign category_size = site.categories[page.category] | size %}
			{% if category_size == 0 %}
				<br><br>
				<h3 class="text-warning text-center">No posts in this category at this time.</h3>
				<br><br><br>
				<br><br><br>
				<br><br><br>
			{% endif %}

			<div class="posts">
				{% for post in site.categories[page.category] %}
					<article>
						<header>
							<div class="row">
								<div class="col-6">
									<time datetime="{{ post.date | date: site.date_format }}">{{ post.date | date: site.date_format }}</time>
								</div>
								<div class="col-6 text-end">
									{% for category in post.categories %}
										<a class="badge bg-secondary" href="/blog/category/{{ category }}">{{ category }}</a>
									{% endfor %}				
								</div>
							</div>
							<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
						</header>
						<section class="post-excerpt">
							<p data-bs-theme="dark" class="text-muted">
								{% if post.summary %}
									{{ post.summary }}
								{% endif %}
							</p>
						</section>
					</article>
				{% endfor %}
			</div>
		</div>
	</div>
</div>