---
layout: compress
---
<!DOCTYPE html>
<html style="height: 100%;">
{% include head.html %}
<body class="error_page">
    {% include header.html %}
    <br><br>
    <div class="container">
        {{ content }}
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
