---
layout: post_container
---
{% if page.featured_image != '' %}
	<div class="jumbotron jumbotron-fluid post_featured_image" style="background-image: url('/assets/images/featured/{{ page.featured_image}}');">
{% else %}
	<div class="jumbotron jumbotron-fluid">
{% endif %}
	<div class="container">
		<h1 class="display-4 jumbotron-heading">
			{{ page.title }}
		</h1>
		<p class="lead">
			{{ page.date | date: site.date_format }} {% if page.update_date %} | <span class="text-success">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span> {% endif %} {% if page.comments != false %} | <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread" data-discuss-identifier="{{ page.id }}">0 Comments</a> {% endif %}
			<br>
			{% for category in page.categories %}
				<a class="tag tag-default" href="/blog/category/{{ category }}">{{ category }}</a>
			{% endfor %}
		</p>
	</div>
</div>

<div class="container">
	<br><br>
	{{ content }}
	<br><br>
	{% if site.show_sharing_icons %}
		{% include share_buttons.html %}
		<br>
	{% endif %}

	{% include disqus.html %}

	{% if site.show_related_posts %}
		<h3 class="related-post-title">{{ site.text.post.related_posts }}</h3>
		{% for post in site.related_posts %}
			<div class="post ml2">
				<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
					<h4 class="post-title">{{ post.title }}</h4>
					<p class="post-summary">{{ post.summary }}</p>
				</a>
		</div>
		{% endfor %}
	{% endif %}
</div>